################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SMA/.vs/SMA/FileContentIndex/6291249f-9a85-49d8-a6c0-e17220a70d16.vsidx
/SMA/.vs/SMA/v17/DocumentLayout.json
/SMA/.vs/SMA/v17/.suo
